* {
    box-sizing: border-box;
}



body {
    border: 1px solid;
    border-color: yellow;
    position: relative;
    font-size: 18px;
    width: 960px;
    height: 500px;
    color: #777;
    background-color: #777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


.container {
        margin: 0 auto;
        position: absolute;
        top: 0px;
        left: 15%;
        text-align: center;
        width: 70%;
        overflow: hidden;

}


header,
nav     {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;

}


}

.asSecCont {
    width: 670.59px;
    height: 168px; 
}

aside {
    background-color: #ebebeb;
    float: right;
    width: 169px;
    height: 168px;
    font-weight: normal;
    
}

.asideHeader {
    font-weight: normal;
    font-size: 18px;
    margin-top: 20px;
    
}


section {
    overflow: hidden;
    background-color: #ebebeb;
    width: 495px;
    height: 168px;
    z-index: 1;
    padding: 9px;
    position: relative;
    
    
}

.sectionHeader {
    font-weight: normal;
    font-size: 18px;
    margin-top: 20px;
    margin: 0 auto;
    line-height: 2;
    
}

article {
        color: #ebebeb;
        background-color: #777;
        z-index: 2;
        height: 78%;
        
}

.articleHeader {
    font-weight: normal;
    font-size: 18px;
    margin: 0 auto;
    line-height: 2;
}

.h1andP {
    position: relative;
    
    
}

h1 {
    color: #777;
    background-color: #ebebeb;
    margin: 0 auto;
    width: 469px;
    padding: 7px;

   
}
p{
    color: #777;
    background-color: #ebebeb;
    margin: 0 auto;
    width: 469px;
    margin-top: 4px;
    padding: 7px;
}

footer {
    clear: both;
    background-color: #ebebeb;
    padding: 20px;
    margin-top: 10px;
    
}